<div class="dashboard-container">

  <div class="dashboard-header">
    <h1>Flight Tracking Dashboard</h1>
    <app-dark-mode-toggle>
  </app-dark-mode-toggle>

  </div>
  
  <app-kpi-cards
    [flights]="filteredFlights">
  </app-kpi-cards>

  <div class="dashboard-content">

    <div class="sidebar">

      <app-flight-filters
        [flights]="flights"
        (filtersChanged)="applyFilters($event)">
      </app-flight-filters>

      <app-flight-details>
      </app-flight-details>

    </div>

    <div class="map-section">

      <app-flight-map
        [flights]="filteredFlights">
      </app-flight-map>

    </div>

  </div>

</div>